body
{
}
div#ContainerDiv 
{
    width: 95%;
    float:left;
    background:#b9ab69;
}

div.AnasayfaDiv 
{
    border: 3px solid tomato;
    margin: 10px;
    background:#b1d2f3;
}

div.AnasayfaIcDiv 
{
    border: 3px solid tomato;
    margin: 10px;
    background:#ABC888;
}

div#UstDiv
{
    height: 140px;
}

div#MenuDiv
{
    height: 30px;
}

div#SolAnaDiv
{
    width: 200px;
    float:left;
}

div#SolDiv 
{
	height: 370px;
}

div#ReklamDiv 
{
	width:200px;
    height:120px;
}

div#SliderDiv 
{
    float:left;
    width:calc(100% - 264px);
    height: 140px;
}

div#AltIcerikDiv 
{
    float:left;
    width: calc(100% - 264px);
    height:370px;
}

div#FooterDiv 
{
    float: left;
    width: 97%;
    height: 65px;
}